.main {
    background-color: white;
    margin: 0 1em;
    border-radius: 1em;
    padding: 1.5em 1.5em 0.7em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 80px; /*Navbar height*/
    padding-bottom: 2rem;
}

.main h1 {
    color: var(--marine-blue);
    font-size: 25px;
}

.main .description {
    margin: 0em 0 1em;
    color: var(--cool-gray);
    font-size: 16px;
}

.addOns {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

.addOn {
    border: 1px solid var(--light-gray);
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.3fr;
    border-radius: 0.5em;
    padding: 0.7em 0.5em;
    column-gap: 4%;
    align-items: stretch;
    text-align: left;
    background-color: white;
}

.addOn * {
    pointer-events: none;
}

.addOn .heading {
    color: var(--marine-blue);
    font-weight: 700;
    font-size: 14px;
}

.addOn .desc {
    font-size: 12px;
}
.addOn .price {
    font-size: 14px;
    color: var(--purplish-blue);
}

.addOn .price,
.addOn .checkBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* TODO : Apply animation to checkBox */

.addOn.active {
    background-color: var(--alabaster);
    border-color: var(--purplish-blue);
}

.checkBox div {
    font-size: 0;
    padding: 0.2rem 0.2rem;
    border-radius: 0.4rem;
    border: 1px solid var(--cool-gray);
}

.addOn.active .checkBox div {
    background-color: var(--purplish-blue);
    border-color: var(--purplish-blue);
}

.checkBox div i {
    font-size: 14px;
    color: white;
}
