#App {
    background-image: url("../assets/images/bg-sidebar-mobile.svg");
    min-height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 0.15fr 1fr auto;
}
