#App {
    background-image: url("../assets/images/bg-sidebar-mobile.svg");
    min-height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.contentAndFooter {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (min-width: 750px) {
    #App {
        width: 75vw;
        max-width: 1000px;
        min-height: 0;
        background-color: white;
        padding: 1em;
        background-image: none;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        border-radius: 1em;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .contentAndFooter {
        justify-content: space-between;
        padding: 1.5em 5em 1em 6.5em;
    }
}

@media only screen and (min-width: 1080px) and (max-width: 1200px) {
    .contentAndFooter {
        padding-left: 4em;
        padding-right: 3em;
    }
}

@media only screen and (min-width: 750px) and (max-width: 1080px) {
    #App {
        width: 90vw;
    }

    .contentAndFooter {
        padding-left: 1em;
        padding-right: 1em;
    }
}
