.nav {
    display: flex;
    justify-content: center;
    padding: 2.1em 0 1.7em;
    gap: 3%;
}

.nav_item {
    border: 1px solid var(--white);
    border-radius: 50%;
    padding: 0.625em 1.09375em;
    color: white;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;

    /* ! Fix this for safari and all */
    -webkit-tap-highlight-color: transparent;
}

.nav_item.active {
    background-color: var(--light-blue);
    border-color: var(--light-blue);
    color: black;
}
