.main {
    background-color: white;
    margin: 0 1em;
    border-radius: 1em;
    padding: 4em 1.5em 4em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main h1 {
    color: var(--marine-blue);
    font-size: 25px;
    margin-bottom: 0.2em;
}

.main .description {
    margin: 0em 0 1em;
    color: var(--cool-gray);
    font-size: 16px;
}

/* ------------------------------------ */

.text {
    text-align: center;
    color: var(--cool-gray);
}

.svg {
    width: 60px;
    margin-bottom: 0.5em;
}
